version: '3'
services:
  proxy:
    build: .
    ports:
      - __PORT__:__PORT__
    volumes:
      - .:/code
    links:
      - redis
    depends_on:
      - redis
  redis:
    ports:
      - 6379:6379
    image: "redis:alpine"

